@import './Variables.scss';

.icon-cart {
  height: 100%;
  position: relative;

  img {
    height: 100%;
    padding: .65em;
  }

  span.number {
    position: absolute;
    top: 0;
    right: 0;
    margin: .15em;
    background-color: $white-color;
    width: 1.3em;
    height: 1.3em;
    font-size: $normal-font-size;
    font-family: $second-font;
    line-height: 1.4em;
    color: $first-color;
    text-align: center;
    border-radius: 50%;
  }
}