@import './Mixins.scss';
@import './Variables.scss';

.menu-cart {
  transition: all 1s ease-out;
  text-align: center;
  position: fixed;
  top: 0;
  left: 100vw;
  width: 100%;
  height: 100%;
  background-color: $white-color;
  padding: 1em;
  padding-top: $height-navbar;
  overflow-y: auto;
  .menu-cart__title {
    text-align: center;
    font-family: $first-font;
    padding: .7em 0;
    font-size: 2em;
  }
  .menu-cart__list {
    padding: 1em;
  }
  .menu-cart__buttons {
    button {
      @include button;
      width: max-content;
      font-size: 1.6em;
    }
  }
}
.menu-cart--visible {
  left: 0;
}