@import './Mixins.scss';
@import './Variables.scss';

.menu-cart {
  transition: all 1s ease-out;
  text-align: center;
  position: fixed;
  top: 0;
  height: 100%;
  background-color: $white-color;
  padding: 1em;
  padding-top: $height-navbar;
  overflow-y: auto;
  z-index: 10;
  right: -500px;
  width: 500px;
  border: solid $first-color 5px;

  @media (max-width: 576px) {
    right: -100vw;
    width: 100vw; 
  }

  .menu-cart__title {
    text-align: center;
    font-family: $first-font;
    padding: .7em 0;
    font-size: 2em;
  }
  .menu-cart__list {
    padding: 1em;
  }
  .menu-cart__buttons {
    button {
      @include button;
      width: max-content;
      font-size: 1.6em;
    }
  }
}
.menu-cart--visible {
  right: 0;
}