@import './Mixins.scss';
@import './Variables.scss';

.menu-cart__title {
  font-family: $first-font;
  padding: .7em;
  font-size: 2em;
  background-color: $white-color;
  position: sticky;
  top: 0;
}
.menu-cart__list {
  padding: 1em;
  overflow-y: auto;
  flex-grow: 1;
}
.menu-cart__buttons {
  padding: 1em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $white-color;
  position: sticky;
  bottom: 0;
  left: 0;

  button {
    @include button;
    width: max-content;
    margin: 0 10px;
  }
}