@import './Variables.scss';

@mixin button {
  width: 100%;
  outline: none;
  color: $white-color;
  border: solid $first-color 2px;
  background-color: $first-color;
  padding: 5px;
  font-size: $medium-font-size;
  font-family: $second-font;
  &:hover {
    background: none;
    color: $first-color;
  }
}