@import './Variables.scss';

header.header {
  background-color: $first-color;
  height: $height-navbar;
  position: sticky;
  top: 0;
  z-index: 10;

  nav.navbar {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0 1em;
    ul.list {
      width: 100%;
      height: 100%;
      display: flex;
      list-style: none;
      align-items: center;
      justify-content: flex-end;

      li {
        margin: 0 .4em;
        color: #fff;
        font-family: $second-font;
        font-size: 1.6em;
        width: max-content;
        cursor: default;
      }
    }
  }
}
