$first-color: #df8484;
$white-color: #fff;
$black-color: #000;
$height-navbar: 60px;

$little-font-size: .9rem;
$normal-font-size: 1.3rem;
$medium-font-size: 1.8rem;
$large-font-size: 2rem;
$extralarge-font-size: 2.3rem;

$first-font: 'Lobster Two', sans-serif;
$second-font: 'Josefin Sans', sans-serif;
// $third-font: ;